/* 円グラフ */
.canvas-holder
{
    float: left;
    margin-left: 80px;
}

.canvas-area {
  overflow: hidden;
}

/* clearfix */
.canvas-area:before,
.canvas-area:after {
    content: "";
    display: table;
}
 
.canvas-area:after {
    clear: both;
}
 
/* For IE 6/7 (trigger hasLayout) */
.canvas-area {
    zoom: 1;
}

/* ボタン */
#button{
    width: 300px;
    height: 300px;
}

/* センター配置 */
.center{
}

